.pdf-container {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}
.pdf-container > div {
  background-color: var(--backgroundColor);
}
