.contactBody {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  overflow: hidden;

}
.input {
  background-color: var(--backgroundColor);
  border-bottom: 1px solid var(--textColor);
  margin: 0 12px;
}

.input::placeholder {
  color: var(--textColor);
  opacity: 0.5;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
