.cvsNav {
  box-sizing: border-box !important;
  display: flex;
  background-color: var(--navbar);
  justify-content: center;
  width: 250px;
  padding: 4px;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cvsNav li {
  color: black;
  font-weight: 600;
  cursor: pointer;
  width: auto;
  padding: 8px;
  text-align: center;
}
.active {
  background-color: var(--secondaryColor);
  border-radius: 10px;
}
